export(bison_data)
export(bison_occ)
export(bison_spp)
export(bison)
export(bisonmap)
export(is.bison)
export(togeojson)
import(httr)
import(maptools)
import(plyr)
import(rgdal)
S3method(bison_data,default)
S3method(bisonmap,default)
