export(bison_data)
export(bison_map_maker)
export(bison_solr_occ)
export(bison_solr_tax)
export(bison)
export(bisonmap.bison_occ)
export(bisonmap.bison)
export(bisonmap)
export(blanktheme)
export(is.bison_occ)
export(is.bison)
export(togeojson)
import(assertthat)
import(ggplot2)
import(grid)
import(gridExtra)
import(httr)
import(mapproj)
import(maptools)
import(plyr)
import(rgdal)
import(sp)
S3method(bison_data,bison_occ)
S3method(bison_data,bison)
S3method(bisonmap,bison_occ)
S3method(bisonmap,bison)
