http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/api/search.json?species=Quercus%20lobata&type=scientific_name&start=0&count=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en-US
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: '{"occurrences":{"legend":{"living":2,"fossil":2,"observation":2590,"centroid":1,"specimen":1804,"unknown":50}},"total":4448,"searchTime":10779,"offset":0,"data":[{"geo":"Yes","provider":"BISON","name":"Quercus
        lobata","decimalLongitude":"-122.74675750732422","decimalLatitude":"39.09480285644531","occurrenceID":"2064791198","common_name":"California
        white oak, valley oak","basis":"Specimen"},{"geo":"Yes","provider":"BISON","name":"Quercus
        lobata","decimalLongitude":"-122.7459716796875","decimalLatitude":"38.051815032958984","occurrenceID":"2064792877","common_name":"California
        white oak, valley oak","basis":"Specimen"},{"geo":"Yes","provider":"BISON","name":"Quercus
        lobata","decimalLongitude":"-122.60240173339844","decimalLatitude":"40.61347198486328","occurrenceID":"2064808439","common_name":"California
        white oak, valley oak","basis":"Obs[...]
[...]
