http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=scientificName%3A%22Ursus%20americanus%22&wt=json&state_code=New%20Mexico&rows=50&fl=occurrence_date%2CscientificName
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"scientificName:\"Ursus americanus\"","fl":"occurrence_date,scientificName","state_code":"New Mexico","rows":"50","wt":"json"}},"response":{"numFound":6650,"start":0,"docs":[{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus americanus"},{"scientificName":"Ursus[...]
