http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=eventDate%3A%5B2010-08-08%20TO%202010-08-21%5D&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"eventDate:[2010-08-08 TO 2010-08-21]","wt":"json"}},"response":{"numFound":573088,"start":0,"docs":[{"eventDate":"2010-08-20","providedScientificName":"Sialia sialis","year":2010,"countryCode":"US","providedCounty":"Cumberland","ambiguous":false,"latlon":"-75.41667,39.41667","computedCountyFips":"34033","occurrenceID":"51681441","decimalLongitude":-75.41667,"basisOfRecord":"observation","providedCommonName":"Eastern Bluebird","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10min Block","scientificName":"Sialia sialis","institutionID":"https://bison.usgs.gov","computedStateFips":"34","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["179801"],"providerID":440,"stateProvince":"New Jersey","higherGeographyID":"34011","decimalLatitude":39.41667,"geo":"-75.41667 39.41667","provider":"BISON","calculatedCounty":"Salem","ITISscientificName":"Sialia sialis","pointPath":"/-75.41667,39.41667/observation/centroid","kingdom":"Animalia","calculatedState":"New Jersey","hierarchy_homonym_string":"-202423-914154-914156-158852-331030-914179-914181-174371-178265-179751-179800-179801-","centroid":"10 Minute Block","ITIScommonName":"Eastern Bluebird;Azulejo garganta canela;merlebleu de l'est","resourceID":"440,100008","ITIStsn":"179801","_version_":1592409442231517189},{"eventDate":"2010-08-17","providedScientificName":"Setophaga petechia","year":2010,"countryCode":"US","providedCounty":"Teton","ambiguous":false,"latlon":"-110.75,43.41667","computedCountyFips":"56039","occurrenceID":"51681448","decimalLongitude":-110.75,"basisOfRecord":"observation","providedCommonName":"Yellow Warbler","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10mi[...]
