http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/api/search.json?species=Bison%20bison&type=scientific_name&start=0&count=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en-US
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: '{"occurrences":{"legend":{"fossil":359,"observation":927,"centroid":1,"specimen":946,"unknown":6}},"total":2238,"searchTime":0,"offset":0,"data":[{"geo":"Yes","provider":"Conservation
        of Arctic Flora and Fauna","name":"Bison bison","decimalLongitude":"-117.6500015258789","decimalLatitude":"61.366668701171875","occurrenceID":"68428522","common_name":"bison,
        American bison, American Bison, Bisonte americano","basis":"Observation"},{"geo":"Yes","provider":"Conservation
        of Arctic Flora and Fauna","name":"Bison bison","decimalLongitude":"-117.6500015258789","decimalLatitude":"61.366668701171875","occurrenceID":"68428523","common_name":"bison,
        American bison, American Bison, Bisonte americano","basis":"Observation"},{"geo":"Yes","provider":"Conservation
        of Arctic Flora and Fauna","name":"Bison bison","decimalLongitude":"-117.6500015258789","decimalLatitude":"61.366668701171875","occurrenceID":"68428524","common_name":"bison,
        American bison, American Bison, Bisonte americano","basis":"Observation"},{"geo":"Yes","provider":"Conservation
        of Arctic Flora and Fauna","name":"Bison bison","decimalLongitude":"-117.6500015258789","decimalLatitude":"61.366668701171875","occurrenceID":"68428525","common_name":"bison,
        American bison, American Bison, Bisonte americano","basis":"Observation"},{"geo":"Yes","provider":"Conservation
        of Arctic Flora and Fauna","name":"Bison bison","decimalLongitude":"-117.6500015258789","decimalLatitude":"61.366668701171875","occurrenceID":"68428526","common_name":"bison,
        American bison, American Bison, Bisonte americano","basis":"Observation"}],"species":"Bison
        bison","eezs":{"extent":{"miny":0.0,"minx":-164.2799,"maxy":70.58,"maxx":0.0},"total":1,"data":{"US
        Pacific EEZ":{"total":"12","name":"US Pacific EEZ"}},"legend":{"0":"0 - 12"}},"itemsPerPage":5,"counties":{"extent":{"miny":0.0,"minx":-171.96531900015404,"maxy":80.00000069960437,"maxx":0.0},"total":159,"data":{"20055":{"total":"1","name":"Finney
        County","state":"Kansas"},"19069":{"total":"1","name":"Franklin County","state":"Iowa"},"46047":{"total":"4","name":"Fall
        River County","state":"South Dakota"},"35031":{"total":"4","name":"McKinley
        County","state":"New Mexico"},"04005":{"total":"5","name":"Coconino County","state":"Arizona"},"36085":{"total":"1","name":"Richmond
        County","state":"New York"},"4607":{"total":"4","name":"Division No.  7","state":"Manitoba
        Canada"},"31075":{"total":"1","name":"Grant County","state":"N[...]
- request:
    method: get
    uri: https://bison.usgs.gov/api/search.json?species=Canis%20latrans&type=scientific_name&start=0&count=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en-US
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
   [...]
