http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/api/search.json?species=Quercus%20lobata&type=scientific_name&start=0&count=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en-US
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: '{"occurrences":{"legend":{"living":2,"fossil":1,"observation":1922,"centroid":1,"specimen":1574,"unknown":50}},"total":3549,"searchTime":0,"offset":0,"data":[{"geo":"No","provider":"The
        New York Botanical Garden","name":"Quercus lobata","occurrenceID":"68676295","common_name":"valley
        oak, California white oak","basis":"Specimen"},{"geo":"No","provider":"University
        of British Columbia","name":"Quercus lobata","occurrenceID":"68677923","common_name":"valley
        oak, California white oak","basis":"Specimen"},{"geo":"No","provider":"University
        of British Columbia","name":"Quercus lobata","occurrenceID":"68678046","common_name":"valley
        oak, California white oak","basis":"Specimen"},{"geo":"No","provider":"University
        of California, Davis","name":"Quercus lobata","occurrenceID":"6[...]
[...]
