http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/vernacularName/select?q=%2Abear&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"*bear","wt":"json"}},"response":{"numFound":54,"start":0,"docs":[{"lc_vernacularName":"American black bear","vernacularName":"American black bear","_version_":1626571985461968941},{"lc_vernacularName":"American Black Bear","vernacularName":"American Black Bear","_version_":1626571985461968942},{"lc_vernacularName":"Asian Black Bear","vernacularName":"Asian Black Bear","_version_":1626571985507057702},{"lc_vernacularName":"Asiatic black bear","vernacularName":"Asiatic black bear","_version_":1626571985509154818},{"lc_vernacularName":"banded woollybear","vernacularName":"banded woollybear","_version_":1626571985532223526},{"lc_vernacularName":"Bear Canyon talussnail","vernacularName":"Bear Canyon talussnail","_version_":1626571985545855003},{"lc_vernacularName":"Bear Creek slitmouth","vernacularName":"Bear Creek slitmouth","_version_":1626571985545855004},{"lc_vernacularName":"bear daisy","vernacularName":"bear daisy","_version_":1626571985545855005},{"lc_vernacularName":"bear flower","vernacularName":"bear flower","_version_":1626571985546903597},{"lc_vernacularName":"bear garlic","vernacularName":"bear garlic","_version_":1626571985546903598}]}}
  recorded_at: 2020-05-28 22:35:28 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://bison.usgs.gov/solr/vernacularName/select?q=%22black%20bear%22&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"responseHeader":{"status":0,"QTime":16,"params":{"q":"\"black bear\"","wt":"json"}},"response":{"numFound":6,"start":0,"docs":[{"lc_vernacularName":"black bear","vernacularName":"black bear","_version_":1626571985574166578},{"lc_vernacularName":"American black bear","vernacularName":"American black bear","_version_":1626571985461968941},{"lc_vernacularName":"American Black Bear","vernacularName":"American Black Bear","_version_":1626571985461968942},{"lc_vernacularName":"Asian Black Bear","vernacularName":"Asian Black Bear","_version_":1626571985507057702},{"lc_vernacularName":"Asiatic black bear","vernacularName":"Asiatic black bear","_version_":1626571985509154818},{"lc_vernacularName":"Louisiana black bear","vernacularName":"Louisiana black bear","_version_":1626571986300829741}]}}
  recorded_at: 2020-05-28 22:35:28 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://bison.usgs.gov/solr/scientificName/select?q=helianthus&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"helianthus","wt":"json"}},"response":{"numFound":240,"start":0,"docs":[{"scientificName":"Helianthus","_version_":1626005763995467832},{"scientificName":"Helianthus ","_version_":1626005776262758419},{"scientificName":"Discoaster helianthus","_version_":1626005762655387666},{"scientificName":"Helianthus decapetalus","_version_":1626005762802188298},{"scientificName":"Helianthus ambiguus","_version_":1626005762842034207},{"scientificName":"Helianthus crassifolius","_version_":1626005762846228522},{"scientificName":"Helianthus dowellianus","_version_":1626005762853568562},{"scientificName":"Helianthus luxurians","_version_":1626005762854617146},{"scientificName":"Helianthus arenicola","_version_":1626005762883977263},{"scientificName":"Helianthus atrorubens","_version_":1626005762982543428}]}}
  recorded_at: 2020-05-28 22:35:28 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
