http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/api/statistics/all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"all":[{"providerId":"4","resourceId":"4,1898","lastUpdated":null,"todayTotals":16,"currentWeekTotals":898,"yesterdayTotals":16,"lastWeekTotals":2829,"janTotals":27168,"febTotals":11237,"marTotals":14797,"aprTotals":18294,"mayTotals":10158,"junTotals":0,"julTotals":0,"augTotals":0,"sepTotals":0,"octTotals":0,"novTotals":0,"decTotals":0,"currentMonthTotals":10158,"resource":{"url":null,"providerId":"4","bisonresourceID":"4,1898","bisonProvider":{"displayname":"Academy
        of Natural Sciences","url":"http://www.acnatsci.org/","name":"Academy of Natural
        Sciences","id":"4"},"name":"Herpetology","id":"4,1898"},"id":null,"type":"all"},{"providerId":"4","resourceId":"4,2006","lastUpdated":null,"todayTotals":16,"currentWeekTotals":2003,"yesterdayTotals":16,"lastWeekTotals":2255,"janTotals":25001,"febTotals":18421,"marTotals":22041,"aprTotals":22494,"mayTotals":11835,"junTotals":0,"julTotals":0,"augTotals":0,"sepTotals":0,"octTotals":0,"novTotals":0,"decTotals":0,"currentMonthTotals":11835,"resource":{"url":null,"providerId":"4","bisonresourceID":"4,2006","bisonProvider":{"displayname":"Academy
        of Natural Sciences","url":"http://www.acnatsci.org/","name":"Academy of Natural
        Sciences","id":"4"},"name":"MAL","id":"4,2006"},"id":null,"type":"all"},{"providerId":"4","resourceId":"4,1897","lastUpdated":null,"todayTotals":17,"currentWeekTotals":1108,"yesterdayTotals":17,"lastWeekTotals":2127,"janTotals":28105,"febTotals":26417,"marTotals":21458,"aprTotals":25047,"mayTotals":10927,"junTotals":0,"julTotals":0,"augTotals":0,"sepTotals":0,"octTotals":0,"novTotals":0,"decTotals":0,"currentMonthTotals":10927,"resource":{"url":null,"providerId":"4","bisonresourceID":"4,1897","bisonProvider":{"displayname":"Academy
        of Natural Sciences","url":"http://www.acnatsci.org/","name":"Academy of Natural
        Sciences","id":"4"},"name":"ORN","id":"4,1897"},"id":null,"type":"all"}],"name":"Academy
        of Natural Sciences","resources":["Herpetology","MAL","ORN"]},{"all":[{"providerId":"408","resourceId":"408,201896","lastUpdated":null,"todayTotals":92,"currentWeekTotals":2269,"yesterdayTotals":92,"lastWeekTotals":2527,"janTotals":29106,"febTotals":22326,"marTotals":26346,"aprTotals":27616,"mayTotals":17007,"junTotals":0,"julTotals":0,"augTotals":0,"sepTotals":0,"octTotals":0,"novTotals":0,"decTotals":0,"currentMonthTotals":17007,"resource":{"url":"http://herbarium.acadiau.ca/","providerId":"408","bisonresourceID":"408,201896"[...]
