http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=scientificName%3A%22Helianthus%20annuus%22&wt=json&rows=800
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1,"params":{"q":"scientificName:\"Helianthus annuus\"","rows":"800","wt":"json"}},"response":{"numFound":5987,"start":0,"docs":[{"establishmentMeans":["AK  HI"],"eventDate":"1994-08-29","providedScientificName":"Helianthus annuus L.","year":1994,"countryCode":"US","ambiguous":false,"generalComments":"sample effort id:488753; project name:Alaska Records of First Collection Project; visit type:; revisit:No; area surveyed:; study type:Exhaustive species inventory; collection method:GPS; location notes: Tanana Hot Springs; disturbance type: Fill Importation (e.g., Road or Railroad Grade); precision:0-30 ft; map source:; map scale:; map date:; presence:TRUE; usda name 2:; family:Asteraceae; rank code:; infested area:0.001 ac; stem count:; canopy cover:1; estimated years of disturbance:; herbarium:Other; control action:; aggressiveness:; species notes:Cited in: Hulten, E. 1941-1950. Flora of Alaska and Yukon, 1-10. Lunds Universitets Arsskrift N.F., Avd. 2, 37:1-46:1. Observed on disturbed, gravelly roadside.; project description:; project method:; project discussion:; data type:","verbatimLocality":"location notes: Tanana Hot Springs; disturbance type: Fill Importation (e.g., Road or Railroad Grade)","latlon":"-150.631,65.005556","computedCountyFips":"02290","occurrenceID":"61951413","decimalLongitude":-150.631,"basisOfRecord":"literature","providedCommonName":"annual sunflower","collectionID":"https://bison.usgs.gov/ipt/resource?r=akepic","ownerInstitutionCollectionCode":"Alaska Exotic Plants Information Clearinghouse (AKEPIC)","scientificName":"Helianthus annuus","institutionID":"https://bison.usgs.gov/","computedStateFips":"02","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["36616"],"providedTSN":"HEAN3","providerID":440,"stateProvince":"Alaska","verbatimEventDate":"1994-08-29","decimalLatitude":65.005554,"recordedBy":"Duffy, M.; Tande, J.","geo":"-150.631 65.005556","provider":"BISON","calculatedCounty":"Yukon-Koyukuk","catalogNumber":"BISON-AKEPIC-21274","ITISscientificName":"Helianthus annuus","pointPath":"/-150.631,65.005556/literature","kingdom":"Plantae","calculatedState":"Alaska","hierarchy_homonym_string":"-202422-954898-846494-954900-846496-846504-18063-846535-35419-35420-36611-36616-","ITIScommonName":"annual sunflower;common sunflower;sunflower;wild sunflower","resourceID":"440,100085","ITIStsn":"36616","associatedReferences":"[{\\url\\:\\http://accs.uaa.alaska.edu/invasive-species/non-native-plants\\,\\description\\:\\Alaska Exotic Plants Information Clearinghouse (AKEPIC)\\}]","_version_":1592410572079497221},{"establishmentMeans":["AK  HI"],"eventDate":"2003-08-25","providedScientificName":"Helianthus annuus L.","year":2003,"countryCode":"US","ambiguous":false,"generalComments":"sample effort id:364035; project name:; visit type:; revisit:No; area surveyed:1 ac; study type:Exhaustive species inventory; collection method:GPS; quad name: Anchorage; quad number: C-8; site code:232; location notes: Parks HWY and Hawk Ln. West side newly seeded with grass. Bike path; disturbance type[...]
