http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=%2A%3A%2A&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"*:*","wt":"json"}},"response":{"numFound":381625460,"start":0,"docs":[{"eventDate":"2006-10-04","providedScientificName":"Setophaga coronata coronata","year":2006,"countryCode":"US","ambiguous":false,"latlon":"-75.41667,37.91667","computedCountyFips":"51001","occurrenceID":"51677313","decimalLongitude":-75.41667,"basisOfRecord":"observation","providedCommonName":"Myrtle Warbler","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10min Block","scientificName":"Setophaga coronata coronata","institutionID":"https://bison.usgs.gov","computedStateFips":"51","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["950046"],"providerID":440,"stateProvince":"Virginia","higherGeographyID":"51000","decimalLatitude":37.91667,"geo":"-75.41667 37.91667","provider":"BISON","calculatedCounty":"Accomack","ITISscientificName":"Setophaga coronata","pointPath":"/-75.41667,37.91667/observation/centroid","kingdom":"Animalia","calculatedState":"Virginia","hierarchy_homonym_string":"-202423-914154-914156-158852-331030-914179-914181-174371-178265-178842-178978-950046-","centroid":"10 Minute Block","ITIScommonName":"Myrtle Warbler;Yellow-rumped Warbler;Chipe coronado;Paruline à croupion jaune","resourceID":"440,100008","ITIStsn":"993362","_version_":1592409441809989637},{"eventDate":"2006-11-05","providedScientificName":"Setophaga coronata coronata","year":2006,"countryCode":"US","ambiguous":false,"latlon":"-75.41667,37.91667","computedCountyFips":"51001","occurrenceID":"51677314","decimalLongitude":-75.41667,"basisOfRecord":"observation","providedCommonName":"Myrtle Warbler","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10min Block","sc[...]
