http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=scientificName%3A%22Ursus%20americanus%22&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"scientificName:\"Ursus americanus\"","wt":"json"}},"response":{"numFound":6650,"start":0,"docs":[{"eventDate":"2014-08-15T02:00Z","providedScientificName":"Ursus americanus Pallas, 1780","year":2014,"countryCode":"CA","providedCounty":"","ambiguous":false,"verbatimLocality":"2629 British Columbia 95, Parson, BC","latlon":"-116.74452,51.12475","computedCountyFips":"5939","occurrenceID":"63128179","decimalLongitude":-116.74452,"basisOfRecord":"observation","providedCommonName":"","collectionID":"http://www.inaturalist.org/observations","ownerInstitutionCollectionCode":"iNaturalist Research-grade Observations","scientificName":"Ursus americanus","institutionID":"http://www.inaturalist.org","computedStateFips":"BC","license":"CC_BY_NC_4_0","TSNs":["180544"],"providerID":407,"stateProvince":"","higherGeographyID":"","verbatimEventDate":"2014-08-15","decimalLatitude":51.12475,"coordinatePrecision":"","verbatimElevation":"","recordedBy":"Marcus Garvie","geo":"-116.74452 51.12475","provider":"iNaturalist.org","calculatedCounty":"Columbia-Shuswap","verbatimDepth":"","catalogNumber":"868077","ITISscientificName":"Ursus americanus","coordinateUncertaintyInMeters":"41.0","pointPath":"/-116.74452,51.12475/observation","kingdom":"Animalia","calculatedState":"British Columbia Canada","hierarchy_homonym_string":"-202423-914154-914156-158852-331030-914179-914181-179913-179916-179925-180539-552303-180540-180541-180544-","collectorNumber":"","ITIScommonName":"American Black Bear;black bear;Oso negro;ours noir","resourceID":"407,202485","ITIStsn":"180544","_version_":1592410721025523714},{"eventDate":"2015-08-03","providedScientificName":"Ursus americanus<U+00A0>","year":2015,"countryCode":"US","ambiguous":false,"verbatimLocality":"Virginia: Clarke Co., Residence on Blue Ridge Mtn Rd., VA601","latlon":"-77.95396,39.0231","computedCountyFips":"51043","occurrenceID":"61736849","decimalLongitude":-77.95396,"basisOfRecord":"observation","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-bisonteam-imagesandvideos","ownerInstitutionCollectionCode":"USGS BISON Team - Species Recognizable in Images and Video","scientificName":"Ursus americanus","institutionID":"https://bison.usgs.gov","computedStateFips":"51","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["180544"],"providedTSN":"180544","providerID":440,"thumbURL":"[{\\\"url\\\":\\\"https://bison.usgs.gov/bison_media/gguaoccp2014jul/th_gguaoccp_Ursus2.jpg\\\"}]","associatedMedia":"[{\\\"type\\\":\\\"image\\\",\\\"mediaUrl\\\":\\\"https://bison.usgs.gov/bison_media/gguaoccp2014jul/gguaoccp_Ursus2.mp4\\\"}]","decimalLatitude":39.0231,"verbatimElevation":"480.00m","recordedBy":"M.I. Pita and G.F. Guala","geo":"-77.95396 39.0231","provider":"BISON","geodeticDatum":"WGS-84","calculatedCounty":"Clarke","ITISscientificName":"Ursus americanus","pointPath":"/-77.95396,39.0231/observation","kingdom":"Animalia","calculatedState":"Virginia","hierarchy_homonym_string":"-202423-914154-914156-158852-331030-914179-914181-179913-179916-179925-180539-552303-180540-180541-180544-","ITIScommonName":"American Black Bear;black bear;Oso negro;ours noir","resourceID":"440,100026","ITIStsn":"180544","_version_":1592410542025211908},{"eventDate":"1998-05-07T02:00Z","providedSc[...]
