http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/api/search.json?species=Aquila%20chrysaetos&type=scientific_name&start=0&count=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en-US
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: "{\"occurrences\":{\"legend\":{\"literature\":1641,\"fossil\":642,\"observation\":128811,\"centroid\":1,\"unknown\":9734,\"specimen\":1899}},\"total\":153695,\"searchTime\":0,\"offset\":0,\"data\":[{\"geo\":\"Yes\",\"provider\":\"Cornell
        Lab of Ornithology\",\"name\":\"Aquila chrysaetos\",\"decimalLongitude\":\"-117.6185302734375\",\"decimalLatitude\":\"33.71446990966797\",\"occurrenceID\":\"63012299\",\"common_name\":\"Golden
        Eagle, Águila real, Aigle royal\",\"basis\":\"Observation\"},{\"geo\":\"Yes\",\"provider\":\"Cornell
        Lab of Ornithology\",\"name\":\"Aquila chrysaetos\",\"decimalLongitude\":\"-117.6185302734375\",\"decimalLatitude\":\"33.71446990966797\",\"occurrenceID\":\"63012312\",\"common_name\":\"Golden
        Eagle, Águila real, Aigle royal\",\"basis\":\"Observation\"},{\"geo\":\"Yes\",\"provider\":\"Cornell
        Lab of Ornithology\",\"name\":\"Aquila chrysaetos\",\"decimalLongitude\":\"-117.6185302734375\",\"decimalLatitude\":\"33.7144[...]
