http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/api/search.json?species=Bison%20bison&type=scientific_name&start=0&count=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en-US
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: '{"occurrences":{"legend":{"fossil":350,"observation":822,"centroid":1,"specimen":1038,"unknown":6}},"total":2216,"searchTime":1134,"offset":0,"data":[{"geo":"Yes","provider":"iNaturalist.org","name":"Bison
        bison","decimalLongitude":"-110.58052062988281","decimalLatitude":"44.65469741821289","occurrenceID":"1584423649","common_name":"American
        Bison, bison, American bison, Bisonte americano","basis":"Observation"}],"species":"Bison
        bison","eezs":{"extent":{"miny":30.0599517,"minx":-179.99999999999994,"maxy":74.70976829528809,"maxx":180.00000190734875},"total":2,"data":{"US
        Pacific EEZ":{"total":"39","name":"US Pacific EEZ"},"Alaska EEZ":{"total":"1","name":"Alaska
        EEZ"}},"legend":{"0":"0 - 2","15":"30 - 39"}},"itemsPerPage":1,"counties":{"extent":{"miny":29.62869700012754,"minx":-171.96531900015404,"maxy":80.00000069960437,"maxx":-71.0099639997423},"total":167,"data":{"20055":{"total":"1","name":"Finney
        County","state":"Kansas"},"19069":{"total":"1","name":"Franklin County","state":"Iowa"},"46047":{"total":"5","name":"Fall
        River County","state":"South Dakota"},"35031":{"total":"4","name":"McKinley
        County","state":"New Mexico"},"02068":{"total":"1","name":"Denali Borough","state":"Alaska"},"04005":{"total":"6","name":"Coconino
        County","state":"Arizona"},"36085":{"total":"1","name":"Richmond County","state":"New
        York"},"4607":{"total":"2","name":"Division No.  7","state":"Manitoba[...]
- request:
    method: get
    uri: https://bison.usgs.gov/api/search.json?species=bear&type=common_name&start=0&count=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en-US
      content-type: application/json;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: bison
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: '{"occurrences":{"legend":{}},"total":0,"searchTime":4,"offset":0,"data":[],"species":"bear","eezs":{"extent":{},"total":0,"data":{},"legend":{}},"itemsPerPage":1,"counties":{"extent":{},"total":0,"data":{},"legend":{}},"type":"common_name","georeferenced":0,"states":{"extent":{},"total":0,"data":{},"legend":{}}}'
  recorded_at: 2020-05-28 22:36:14 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
